.board {
  height: 100%;
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
