.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

.title {
  text-align: center;
  font-size: 24px
}
